
.button{
    padding:  1em;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    border: 1px solid $color-border;

    &.primary{
        background-color: $color-primary;
    }

    &.tertiary{
        background-color: $color-tertiary;
        color: $text-color;
        border: 1px solid $color-border-tertiary;
    }

    &:hover{
        opacity: 70%;
    }
}