$color-primary: #f1f1f1;
$color-secondary: #262523;
$color-tertiary: #F9CDCD;
$color-cuaternary: #F9FAFA;

$color-red: #ff0000;
$color-blue: #068FFF;
$color-green: #1F8A70;
$color-purple: rgb(191, 58, 191);
$color-yellow: #EDBD42;

$color-border: #dfdfdf;
$color-border-secondary: #cacaca;
$color-border-tertiary: #0E1727;

$text-color:#262523;
$text-color-secondary:#F9CDCD;

$background-color: white;
$background-color-secondary: #262523;


.dark {
  $background-color: black;
  $color-primary: #769d8d;
  $text-color: white;
}

.blur{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
}


//Font-size
$font-big: 60px;
$font-med: 40px;

//Desktop
$font-normal: 12px;
$font-sm: 10px;

//Phone
$font-normal-phone: 16px;
$font-sm-phone: 14px;
