@import "./main.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

body {
  color: $text-color;
  background-color: white;
  font-family: "OpenSans", "HedvigLettersSerif";
  font-weight: normal;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}


// Fonts
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Medium.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Light.ttf");
  font-weight: lighter;
  font-display: swap;
}

@font-face {
  font-family: "HedvigLettersSerif";
  src: url("/fonts/HedvigLettersSerif.ttf");
  font-weight: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}