@import "./main.scss";

.home {
    .content {
        display: block;
        padding: 20vh 30rem;

        >div {
            margin-bottom: 10rem;
        }

        @include respond(tab-land) {
            padding: 20vh 1rem;
        }
    }

}

.ProjectStructure {
    display: flex;
    position: relative;

    .Information {
        text-align: end;
        padding: 0px 1rem;
        position: absolute;
        right: 100%;
        width: max-content;

        @include respond(tab-land) {
            padding: 0px;
            right: 0px;
            left: 0px;
            top: 105%;
            text-align: start;
        }

        .title {
            font-family: "HedvigLettersSerif";
            font-size: 20px;
            font-weight: bold;
        }

        .paragraph {
            display: flex;
            width: 100%;
            justify-content: end;

            @include respond(tab-land) {
                justify-content: start;
            }
        }

        ;

        .videoStart {
            font-weight: bold;
            display: flex;
            width: 100%;
            justify-content: end;
            align-items: center;
            cursor: pointer;

            @include respond(tab-land) {
                justify-content: start;
            }


            svg {
                width: 14px;
                height: 14px;
                margin-right: 10px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .link {
            font-weight: bold;
            display: flex;
            width: 100%;
            justify-content: end;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;

            a {
                margin-right: 10px;
            }

            svg {
                width: 14px;
                height: 14px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .videoWrapper {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;

        .reactPlayer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

    
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: none;
                object-fit: cover;  /* Esto aplica el efecto de 'cover' */
            }
        }
    }
    

    .videoContainer {
        width: fit-content;
        //width: 100%;
        //height: 70vh; // Altura fija del contenedor
        padding: 0px;
        //box-sizing: border-box;
        border-radius: 5px;
        position: relative; // Importante para posicionar elementos hijos
        background-color: red;
        width: max-content;

        @include respond(tab-port) {
            width: max-content;
            //height: 70vh; // Altura fija del contenedor
        }

        .video {
            width: 100%; // Ocupa todo el ancho del contenedor
            //height: 100%; // Ocupa todo el alto del contenedor
            z-index: 1;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include respond(tab-port) {
                height: 100%; // Ocupa todo el alto del contenedor
                background-color: red;

                iframe {
                    width: 100%; // Asegúrate de que el iframe ocupe el ancho completo
                    height: 100%; // Asegúrate de que el iframe ocupe el alto completo
                    border: none; // Opcional, elimina bordes no deseados
                    background-color: red;
                }
            }

        }
    }


    .videoContainer__vertical {
        width: 100%;
        height: 70vh;
        padding: 0px;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        max-height: fit-content;

        .video {
            height: fit-content;
            z-index: 1;
            border-radius: 5px;
            border: 1px solid #dfdfdf;
            background-color: transparent;

            @include respond(big-desktop) {
                height: fit-content;
            }

        }
    }
}

.ProjectModal {
    /* .videoContainer {
        width: 100%;
        height: 100%;
        padding: 0px;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        max-height: 60vh;

        .video {
            width: 100%;
            z-index: 1;
            border-radius: 5px;
            height: 100%;
            border: 1px solid #dfdfdf
        }
    }
 */

    /* .VerticalModal {
        width: 100%;
        height: 85svh;
        padding: 0px;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        display: flex;
        justify-content: center;
        background-color: transparent;

        @include respond(phone) {
            height: 85vh;
            width: auto;
        }

        .video {
            z-index: 1;
            border-radius: 5px;
            height: 100%;
            //width: 100%;

            @include respond(phone) {
                width: auto;
            }
        }
    } */
}