@import "./main.scss";

.home {
    display: block;

    .introduction {
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 20vh 20rem;
        min-height: 100%;

        @include respond(tab-land) {
            padding: 20vh 7.5rem;
        }

        @include respond(tab-port) {
            padding: 20vh 5rem;
        }

        @include respond(phone) {
            height: 130vh;
            padding: 20vh 1rem;
        }

        .banner {
            margin-bottom: 5em;
            width: 60%;

            @include respond(tab-port) {
                width: 70%;
            }
    
            @include respond(phone) {
                width: 80%;
            }

            .title {
                font-size: 20px;
                font-weight: bold;
            }

            .subtitle {
                padding: 1em 0em;
                font-family: "HedvigLettersSerif";
                font-size: 20px;
                font-weight: bold;
            }
        }

        .videoContainer {
            max-width: 800px;
            padding: 0px;
            box-sizing: border-box;

            .video {
                width: 100%;
                z-index: 1;
                border-radius: 5px;
            }
        }
    }

}

.marqueeContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    left: 0%;
    background-color: #efeee6;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .marquee {
        position: absolute;
        display: block;
        white-space: nowrap;
        min-width: 100%;
        height: 100%;

        span {
            display: inline-block;
            padding-left: 100%;
            text-align: center;
            white-space: nowrap;
            min-width: 100%;
            height: 100%;
            font-size: 20px;
            animation: marquee 10s linear infinite;
            display: flex;
            align-items: center;

            @include respond(tab-land) {
            }
    
            @include respond(tab-port) {
                animation: marqueePhone 12s linear infinite;
            }
    
            @include respond(phone) {
                animation: marqueePhone 14s linear infinite;
            }
    
        }
    }

    .delay {
        span {
            animation-delay: 4s;

            @include respond(tab-land) {
                animation-delay: 4s;
            }
    
            @include respond(tab-port) {
                animation-delay: 4s;
            }
    
            @include respond(phone) {
                animation-delay: 7s;
            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes marqueePhone {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-200%, 0);
    }
}

.ProjectStructure{
    padding: 20vh 20rem;

    @include respond(tab-land) {
        padding: 20vh 7.5rem;
    }

    @include respond(tab-port) {
        padding: 20vh 5rem;
    }

    @include respond(phone) {
        height: 130vh;
        padding: 20vh 1rem;
    }

    .title{
        padding: 1em 0em;
        font-family: "HedvigLettersSerif";
        font-size: 20px;
        font-weight: bold;
    }

    .paragraph{
        width: 50%;
        padding-bottom: 1em;

        @include respond(tab-port) {
            width: 80%;
        }

        @include respond(phone) {
            width: 80%;
        }
    }

    .link{
        color: rgb(191, 58, 191);
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-bottom: 2em;

        p{
            margin-right: 10px;
        }

        svg{
            width: 14px;
            height: 14px;
        }

        &:hover{
            text-decoration: underline;
        }
    }

    .videoContainer {
        max-width: 800px;
        padding: 0px;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .video {
            width: 100%;
            z-index: 1;
            border-radius: 5px;
        }
    }
}