@import "./main.scss";

.footer {
    position: relative;
    overflow: hidden;
    color: $text-color-secondary;

    .message {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-bottom: 2em;
        padding: 5em 16rem;
        font-family: "HedvigLettersSerif";
        width: 75%;


        @include respond(tab-land) {
            padding: 5em 7.5em;
        }

        @include respond(tab-port) {
            padding: 5em 5em;
        }

        @include respond(phone) {
            padding: 5em 1em;
            width: 90%;

        }

        .title {
            margin-bottom: 1em;
            font-size: 26px;
            max-width: 50%;

            @include respond(phone) {
                max-width: 65%;
            }
        }
    }

    .companyInformation {
        margin-top: 2em;
        position: relative;
        padding: 1em;

        &::before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: $text-color-secondary;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }

    .background_noiseFooter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;

        &::after {
            position: absolute;
            top: -10em;
            left: -10em;
            width: calc(100% + 20em);
            height: calc(100% + 20em);
            animation: noise-animation 1s infinite;
            background-image: url('../public/noise.png');
            background-color: $background-color-secondary;
            background-position: 50%;
            content: "";
            will-change: transform;
            pointer-events: none;
        }
    }
}

.header {
    position: sticky;
    top: 0px;
    z-index: 2;
    margin-top: 20vh;
    padding: 1em 16rem 0em 16rem;
    display: flex;
    align-items: center;
    z-index: 10;

    .title {
        font-weight: bold;
        font-size: 20px;
        margin-right: 5px;
    }

    .arrow {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: 1px solid $color-border;

        svg {
            width: 14px;
            height: 14px;
        }

        &:hover {
            background-color: $color-primary;
        }
    }

    @include respond(tab-land) {
        padding: 1em 7.5rem 0vh 7.5rem;
    }

    @include respond(tab-port) {
        padding: 1em 5rem 0vh 5rem;
    }

    @include respond(phone) {
        padding: 1em 1rem 0vh 1rem;
    }
}

.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 3;
    top: 0;

    .background {
        width: 100vw;
        height: 100vh;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        right: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 4em 16rem 0em 16rem;

        @include respond(tab-land) {
            padding: 4em 7.5rem 0vh 7.5rem;
        }

        @include respond(tab-port) {
            padding: 4em 5rem 0vh 5rem;
        }

        @include respond(phone) {
            padding: 4em 1rem 0vh 1rem;
        }

        h3 {
            font-size: 20px;
            z-index: 3;
            color: $text-color-secondary;
            margin-bottom: 0.5em;
        }
    }
}

.moreProjects {
    position: relative;
    overflow: hidden;
    color: $text-color-secondary;

    .content {
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        gap: 10%;

        @include respond(phone) {
            display: flex;
            flex-direction: column;
        }

        .project {
            @include respond(phone) {
                width: 100%;
                margin-bottom: 5em;
            }

            .image {
                background-color: #f1f1f1;
                min-height: 300px;
                min-width: 350px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                margin-bottom: 1em;
                padding: 2em;

                @include respond(tab-port) {
                    min-height: 200px;
                    min-width: 250px;
                }

                @include respond(phone) {
                    min-height: 200px;
                    min-width: 250px;
                }

                .video {
                    width: 100%;
                    border-radius: 3px;
                    border: 1px solid $color-border;
                }
            }

            .info {
                color: $text-color;

                .projectName {
                    font-size: 16px;
                    font-weight: bold;
                    font-family: "HedvigLettersSerif";
                }
            }
        }
    }

    .background_moreProjects {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;

        &::after {
            position: absolute;
            top: -10em;
            left: -10em;
            width: calc(100% + 20em);
            height: calc(100% + 20em);
            animation: noise-animation 1s infinite;
            background-image: url('../public/noise.png');
            background-color: $background-color;
            background-position: 50%;
            content: "";
            will-change: transform;
            pointer-events: none;
        }
    }

}